<div ng-controller="DetailsCtrl" class="row">

    <div class="col-md-12 panel panel-info"><h1 class="head_title panel-heading" ng-model="title">{{title}}</h1></div>

    <div class="col-md-12"> <h4 class="head_title pannel_title" ng-model="name" width="70%">By {{name}} </h4></div>

    <div class="col-md-12 panel-body"> <h2 class="head_title pannel_title">Message Content</h2></div>


    <div class="col-md-12"> <p class="head_title panel-body" ng-model="descryption">
        {{descryption}}
    </p>
    </div>


</div>
