<div ng-controller='SendCtrl'>
<div >
    <div>
        <form id="myForm" name="myForm" >


            <!--<div class="form-group">-->
                <!--<label>-->
                    <!--To：-->
                <!--</label>-->
                <!--<input type="text"  ng-model="rec" name="fname" />-->
                <!--<div ng-show="recnotnull()" class="alert alert-danger" role="alert">-->
                    <!--<span class="glyphicon glyphicon-exclamation-sign text-warning" aria-hidden="true"></span>-->
                    <!--<span class="sr-only">Error:</span>-->
                    <!--Enter a username-->
                <!--</div>-->

            <!--</div>-->

            <div class="form-group">
                <label>
                    Address One
                </label>

                <textarea  class="mail" ng-model="addr1" name="faddress1" required> </textarea>
                <!--<span class="glyphicon glyphicon-euro text-success"></span>-->
                <!--<span id="titleError"></span>-->

            </div>
            <div class="form-group">
                <label>
                    Address Two
                </label>
                <textarea  class="mail" ng-model="addr2" name="faddress2" required > </textarea>
                <!--<span id="emailError"></span>-->

            </div>
            <div class="form-group">
                <label>
                    City
                </label>
                <input type="text"  ng-model="city" name="fcity" required/>
                <!--<span id="emailError"></span>-->

            </div>
            <div class="form-group">
                <label>
                    State
                </label>
                <input type="text"  ng-model="state" name="fstate" required/>
                <!--<span id="emailError"></span>-->

            </div>
            <div class="form-group">
                <label>
                    ZipCode
                </label>
                <input type="text"  ng-model="zip" name="fzip" required/>
                <!--<span id="emailError"></span>-->

            </div>

        </form>
    </div>
    <div class="col-md-3" id="sendBtn">
        <input  type="button" value="Finish"  ng-click="SuccessSend()" >
    </div>
    <table id="myTable" class= "table table-hover">
    <tr>
    <th>Size</th>
    <th>Color</th>
    <th>Quantity</th>
        <th>Price</th>
    <th>Shipping Adress</th>
    </tr>
    <tr>
    <td>{{size}}</td>
    <td>{{color}}</td>
    <td>{{quantity}}</td>
        <td>{{price}}</td>
    <td>{{shippingaddress}}
    </td>
    </tr>
    </table>
</div>
</div>